<div class="container-fluid">
  <div class="row" style="background-color: #005d97;">
    <div class="col-md-4 offset-md-4 mt-5 mb-5">
      <div class="card text-center mt-2">
        <h1 class="card-header">Register</h1>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="newAccount()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" formControlName="email" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" />
            </div>
            <button [disabled]="loading" (click)="newAccount()" class="btn btn-primary mt-3">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



