<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/telegram.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav vs-navbar-nav">
        <li class="nav-item vs-navbar-nav">
          <button (click)="logout()" class="btn btn-secondary">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
