
.vs-chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.vs-chat-message-left,
.vs-chat-message-right {
    display: flex;
    flex-shrink: 0
}

.vs-chat-message-left {
    margin-right: auto
}

.vs-chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}
.vs-py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.vs-px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.vs-flex-grow-0 {
    flex-grow: 0!important;
}
.vs-border-top {
    border-top: 1px solid #dee2e6!important;
}

.vs-left-avatar {
 
}
