body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.vs-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.vs-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.vs-sidebar a.active {
  background-color: #4191e2;
  color: white;
}

.vs-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .vs-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .vs-sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .vs-sidebar a {
    text-align: center;
    float: none;
  }
}
