
  <div class="vs-sidebar ">
    <a class="active" href="#home">Home</a>
    <a (click)="c1.toggle()">Post</a>
    <div #c1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
      <a [routerLink]="['postlist']">Post feed</a>
      <a [routerLink]="['postform']">Criar Post</a>
    </div>
    <a (click)="c2.toggle()">Chat</a>
    <div #c2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
      <a [routerLink]="['chatlist']">Listar Chats</a>
      <a [routerLink]="['expandedchat/1']">ExpandirChat(id=1)</a>
    </div>
  </div>

